#profile-form {
    max-width: 700px;
    padding: 1em;
    background: #f7f6f6;
    border-radius: 1%;
    margin: 1em;
    float: left;
}

#profile-form .columna-formulario {
    width: 100%;
    float: left;
    padding: 0.5em;
}

#profile-form form {
    width: 100%;
}

#profile-form input {
    width: 50%;
}

#profile-form .form-label {
    float: left;
    width: 20%;
}

#profile-form .submit-button {
    float: right;
    width: fit-content;
}

.clear {
    clear: both;
}

.wrap{
    display: flex;
    flex-direction: column;
}


.divider {
    height: 2px;
    padding: 0 1em;
    background-color: #efefef;
}

.child-card{
    padding: 1em;
    flex: 100%;
    padding: 1em;
    border: none;
    width: fit-content;
    
}


.child-content p{
    margin: 0;
    font-size: 1.8em;
    padding: 0.4em 0.5em;
}

.child-content {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1%;
    padding: 1em;
    background-color:rgba(250, 235, 215,.7);
}

.data-content{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1%;
    padding: 1em;
    background-color:rgba(250, 235, 215,.7);
    align-items: center;
    width: fit-content;
}